{% extends 'base.html' %}

{% block content %}
<!-- 메인 화면 -->
<main class="container">

    <div class="starter-template text-center py-5 px-3">
        <h1>소박하지만 그룹입니다</h1>
        <p class="lead"> 알고리즘 기초 난이도인 Bronze부터  숙달된 난이도인 Diamond까지 <br>
            DFS, BFS 의 기본적인 알고리즘부터  TreeDP, Segtree 의 중급 알고리즘을 거쳐 HLD, LCA 의 고급 알고리즘까지
        </p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <caption>유저 리스트</caption>
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">이름</th>
                <th scope="col">학번</th>
                <th scope="col">맞은 문제</th>
                <th scope="col">제출</th>
                <th scope="col">정답 비율</th>
            </tr>
            </thead>
            <tbody>
            {% if user_list %}
                {% for user in user_list %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.number }}</td>
                        <td>{{ user.correct }}</td>
                        <td>{{ user.submission }}</td>
                        <td>{{ user.answer_ratio }}</td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th scope="row">no date</th>
                    <td colspan="5">데이터가 존재하지 않습니다.</td>

                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}
